.imc-box {
    border: 1px solid #ccc; 
    border-radius: 8px;
    width: 135px;
    height: 55px;
    margin-right: 30px;
}

.imc-title {
    margin-left: 10px;
    font-size: 12px;
    color: #272927;
}
